* {
    padding: 0px;
    margin: 0px;
}

/* home */
#home {
    background-color: #1E2A5E;
    display: flex; /* flex box for nav in the same row */
    justify-content: space-between; /* put name and nav far away */
    align-items: center;
    padding: 20px;
    color: white;
    /* position: fixed; */
}

.section-header {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.profile-name {
    font-size: 20px;
}


.topmenu {
    padding: 10px;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.topmenu:hover {
    background-color: lightblue;
}

/* about */
#about {
    padding: 20px;
    background-color: #7C93C3;
}


.about-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: #E1D7B7 4px solid;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.about-content p {
    max-width: 800px;
}

.about-content h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.about-content h2 {
    font-size: 20px;
    color: #555;
    margin-bottom: 15px;
}

.contact {
    display: flex;
    justify-content: center;
    gap: 50px;

}
.contact a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    color: #fff;
    font-weight: 500;
    transition: transform 0.3s ease;
}

.contact .github {
    background-color: rgb(24, 23, 23);
}

.contact .github:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 8px rgba(24, 23, 23, 0.2);
}

.contact .linkedin {
    background-color: rgb(10, 102, 194) ;
}

.contact .linkedin:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 8px rgba(10, 102, 194, 0.2);
}

.contact .email {
    background-color: rgb(234, 67, 53);
}

.contact .email:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 8px rgba(234, 67, 53, 0.2);
}


/* projects */
#projects {
    background-color: #55679C;
}

.swiper-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    max-width: 1600px;  
    margin: 0 auto;
    padding-bottom: 20px;
}

.project-container {
    display: flex;
    gap: 40px;
    align-items: center;
}

.project-container img {
    max-height: 450px;
}

.project-name {
    font-size: 40px;
    line-height: 1.5;
}

.role {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ccc;
}

.project-description {
    font-size: 20px;
    margin-bottom: 10px;
}

.tech-stack {
    display: flex;
    gap: 10px;
    list-style: none;
    text-wrap: wrap;
}
.tech-stack li {
    background-color: #E1D7B7;
    border-radius: 5px;
    padding: 5px 10px;
}
.swiper-pagination {
    position: absolute;
}



/* skills */
#skills {
    background-color: black;
}

/* achive-cert */
#achive-cert {
    background-color: black;
}



/* 
#7C93C3
#55679C
#1E2A5E
#E1D7B7 */