* {
    padding: 0px;
    margin: 0px;
}


#home {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;

    height: 60px;
    background-color: #1E2A5E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    color: white;
}

body {
    /* for navbar */
    padding-top: 60px; 
}

.profile-cv {
    display: flex;
}

.switch-page-btn {
    background-color: #E1D7B7;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    margin-left: 25px;
}

.switch-page-btn:hover {
    background-color: #beb69b;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.section-header {
    font-size: 50px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.section-header i {
    font-size: 40px;
    padding-right: 10px;
}

.profile-name {
    font-size: 20px;
}


.topmenu {
    padding: 10px;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.topmenu:hover {
    background-color: lightblue;
}

/* about */
#about {
    padding: 20px;
    background-color: #7C93C3;
}

.about-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: #E1D7B7 4px solid;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.about-content p {
    max-width: 800px;
}

.about-content h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.about-content h2 {
    font-size: 20px;
    color: #555;
    margin-bottom: 15px;
}

.contact {
    display: flex;
    justify-content: center;
    gap: 50px;

}
.contact a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    color: #fff;
    font-weight: 500;
    transition: transform 0.3s ease;
}

.contact .github {
    background-color: rgb(24, 23, 23);
}

.contact .github:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 8px rgba(24, 23, 23, 0.2);
}

.contact .linkedin {
    background-color: rgb(10, 102, 194) ;
}

.contact .linkedin:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 8px rgba(10, 102, 194, 0.2);
}

.contact .email {
    background-color: rgb(234, 67, 53);
}

.contact .email:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 8px rgba(234, 67, 53, 0.2);
}


/* projects */
#projects {
    background-color: #55679C;
}

.swiper-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    max-width: 1600px;  
    margin: 0 auto;
    padding-bottom: 20px;
}

.project-container {
    display: flex;
    gap: 40px;
    align-items: center;
}

.project-container img {
    max-height: 450px;
}

.project-name {
    font-size: 40px;
    line-height: 1.5;
}

.role {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ccc;
}

.project-description {
    font-size: 20px;
    margin-bottom: 10px;
}

.tech-stack {
    display: flex;
    gap: 10px;
    list-style: none;
    text-wrap: wrap;
}
.tech-stack li {
    background-color: #E1D7B7;
    border-radius: 5px;
    padding: 5px 10px;
}

.tech-stack  li:hover {
    background-color: #beb69b;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(-4px);
   transition: all 0.3s ease; 
}

.swiper-pagination {
    position: absolute;
}


/* skills */
#skills {
    padding: 40px 20px;
    background-color: #7C93C3;
}

.skills-table {
    margin: 0 auto;
}

.skills-table td {
    padding: 15px;
    vertical-align: top;
}
.skills-table ul {
    list-style: none;
    display: flex;
    gap: 10px;
    text-wrap: wrap;
}
.skills-table li {
    background-color: #E1D7B7;
    border-radius: 5px;
    padding: 5px 10px;
}

.skills-table li:hover {
    background-color: #beb69b;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(-4px);
    transition: all 0.3s ease; 
}

/* achivement certification */
#achive-cert {
    background-color: #55679C;
    text-align: center;
    padding: 40px 20px;
}

.a-c-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.a-c-table {
    max-width: 500px;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.a-c-table caption {
    text-transform: uppercase;
    background-color: #E1D7B7 ;
    font-size: 24px;
    line-height: 2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.a-c-table tr {
    border-bottom: 1px solid #eee;
}

.a-c-table .last-row {
    border-bottom: none;
}

.a-c-table td {
    padding: 15px;
}

.a-c-table td:first-child { 
    /* first child is the year column */
    font-weight: 500px;
    color: #ccc;
    width: 30%;
}

.a-c-table tr:hover {
    background-color: #f1f1f1;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

/* footer */
footer {
    background-color: #7C93C3;
    padding-top: 20px;
    justify-content: center;
}

.two-col {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    text-wrap: wrap;
    gap: 40px;
    justify-content: space-between  ;
}
.footer-contact {
    padding: 10px;
    min-width: 200px;
}

.footer-contact a {
    display: block;
    text-decoration: none;
    margin-bottom: 8px;
    color: #000;
}

.footer-contact a:hover {
    text-decoration: underline;
    transform: translateY(-4px);    
}

.footer-contact a i {
    margin-right: 10px;
    font-size: 22px;
}


.fpt-logo-container {
    display: flex;
    gap: 20px;
}

.fpt-logo-container img {
    width: 100px;
}
.fun-fact {
    border-radius: 8px;
    margin-right: 10%;
    padding: 10px
}

.fun-fact h3 {
    font-size: 30px;
}

.copyright {
    padding-left: 50px;
    padding-bottom: 20px;
}
/* 
#7C93C3
#55679C
#1E2A5E
#E1D7B7 */

.pdf-viewer {
    width: 100vw;
    height: 200vh;
}